*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: roboto;
    width: 100%;
}
.header
{
    background: #999999;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    z-index: 1000;



}
header a
{
    font-size: 20px;
    color:#fff;
}



.footer
{
    background:#999;
    font-size: 30px;
    color:#fff;

}
.logo img


{
    display: block;
    width: 50%;
    margin: auto;
}
.footer ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    min-height: 20vh;
}
.footer li

{
    padding: 30px;
}
.entete
{

    margin-top: 0;

}

a
{
    color:#000;
    text-decoration: none;
}
a:hover
{
    color:aquamarine;
}
li:hover
{
    background: rgba(0,0,0,0.6);
}
.menu
{
    display: flex;
    justify-content: space-between;

    list-style-type: none;

    padding:30px;
}

.menu li
{
    margin-left: 20px;
}
.gauche
{
    width: 70%;
}
.bloc_page, .boucle_full_width
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.boucle_full_width article,
.boucle,.boucle_full_width
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0;
}

.article
{
    display: block;
    padding: 20px;
    width: 45%;
    margin: 20px;
    color:#000;


}
.article2
{
    width: 70%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#000;

}
.title h2
{   color:#ffb630;
    font-size: 3em;
}
.sub_title
{
    color:#ffb630;
    font-size: 16px;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 10px;

}
.geo_thumb2
{
    min-width: 30%;
    max-width: 80%;
    padding: 20px;

    margin: auto;
    margin-bottom: 40px;


}
.geo_thumb2 img
{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}
.article_section img {
    display: block;
    height: 300px;
    width: auto;
    margin: auto;
    padding: 35px;

}
.article_section h2, aside h2
{
    text-align: center;
    font-size: 38px;
}
.article_section p, aside p
{
    text-align: center;
    font-size: 18px;
    font-family: Arial;
}

h1
{
    display: block;
    padding:30px;
    padding-top: 60px;
    font-size: 50px;
    height: 22vh;
    text-align: center;
    color: #000;

}
header a, footer a
{

    text-align: center;
    color: #fff;
}
.aside
{
    width: 20%;
    background: #999;
    border: 4px solid #999;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 100vh;
    font-size: 16px;
    box-shadow:  10px 10px 0 0 rgba(153,153,153, 0.6);

}

aside img, .thumb img
{
    display: block;
    max-width: 50%;
    height:auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: auto;
}
aside h2, aside p

{
    text-align: center;
    padding-top: 10%;
}

#about
{
    margin: auto;
    width: 80%;
}
.bloc
{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.bloc p
{
    width: 40%;
    padding: 20px;
}
.map iframe
{
    display: block;
    width: 100%;
}
.banner {
    position: relative;
    padding: 0;
    margin: 0;
    height: 80vh; }

.overlay {
    position: absolute;
    align-items: center;
    color: #fff;
    background-color: rgba(25, 17, 0, 0.6);
    bottom: 0;
    width: 50%;
    /*min-height: 50%;*/
    max-height: 60vh;
    margin-left: 25%;
    /*margin-top: 100px;*/
    border-radius: 50px;
    padding: 20px;
    z-index: 50;
    top:10px;
}


.overlay h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder; }

.overlay p {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold; }

.bouton, .bouton2 {
    background-color: blue;
    padding: 30px;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    border: 3px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: 1s;
    color: #fff; }
.carousel-item {
    max-height: 85vh; }

.infos_h1
{
    background: blue;
}
.img_geo {
    height: 250px;
    padding: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;



}
.img_geo img
{
    display: block;
    margin: auto;
    height: 80%;
    width: auto;
}
.geo_map {
    width: 80%;
    margin: auto;
}
.geo_map2
{
    width: 80%;
    margin: auto;
}
.gmap
{
    display: block;
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
}
.geo_h1
{
    color: #000;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 60px;

}
.geo_h2
{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.geo_content
{
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding: 50px;


}
.add_text
{
    font-size:20px;
}
.geo_thumb
{
    width: 60%;
    margin: auto;
    padding: 40px;

}
.geo_thumb img
{
    display: block;
    width: 80%;
    margin: auto;
    height: auto;
}

.content_post
{
    padding-top: 30px;
}
.annexe
{
    padding: 50px;
    margin-bottom: 20px;
}